
<h2>Services</h2>
<ul style="margin-left: 30px">
<li>Store setup</li>
<li>Theme customization</li>
<li>Store modifications</li>
<li>Custom features</li>
<li>App integrations</li>
<li>Search Engine Optimization</li>
</ul>
<br>
<h2>Is a two-week trial of Shopify too short?</h2>
<p>Contact me <a href="http://eriksilver.github.io/contact">here</a> to setup a Development Store for you, which includes an unlimited free trial.</p>
<br>
<h2>Shopify Posts</h2>
<div class="blog-posts">
    <h2 class="post-header"></h2>
    <ul>
        {% for post in site.posts %}
            {% if post.tags contains 'Shopify,' %}
                <li class="no-bullet-list">
                    <h4>
                        <!-- <i class="fa fa-circle-thin"></i> -->
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                            {{ post.title }}
                        </a>
                    </h4>
                    <p class="date-blog-list">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </p>
                </li>

            {% endif %}
        {% endfor %}
    </ul>
</div>
<br>
<h2>Code Snippets</h2>
<ul class="no-bullet-list">
    <a href="https://gist.github.com/eriksilver/57acc1a8330a8d8dff50" title="radio button filter"><li>Radio Button Filter</li>
    </a>

</ul>
<br>
<h2>Work Examples</h2>
<p>Shopify marketplace + niche designer goods</p>
{:.center}
![]({{ site.baseurl }}/img/SMHQ_home_top.jpg)
<p>Category icons + footer</p>
{:.center}
![]({{ site.baseurl }}/img/SMHQ_home_bot.jpg)
<p></p>
<p>Implement live + instant search</p>
{:.center}
![]({{ site.baseurl }}/img/live-search.jpg)
<p></p>
<p>Create radio button tag filters</p>
{:.center}
![]({{ site.baseurl }}/img/jewelry-radio.jpg)
<br>
<br>
{:.center}
<a href="https://www.shopify.com/?ref=developer-757d2014f33fe3be">![]({{ site.baseurl }}/img/shopify_728x90-dark@2x.jpg)</a>
